html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #313131;
}
.logo__item{
  display: flex;
  align-items:center;
  justify-content: center;
}
.header-logo{
  margin-left: 30px;
}
.logo-title{
margin-left: 27px;
font-family: 'Open Sans';
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 30px;
color:#fff;
}

.header-menu__list {
  display: flex;
}
.header-menu__list-item {
  margin-right: 35px;
}
.header-menu__search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: #000;
}
.header-menu__list-link {
  text-transform: uppercase;
  font-family: "Open Sans";
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
}
.header-menu__list-link:hover {
  color: #14b9d5;
}
.latest-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/images/latest-news__bg-img.jpg');
  width: 100%;
}

.latest-news__title {
  padding-top: 163px;
  padding-bottom: 44px;
  display: block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #fff;
  text-transform: uppercase;
}
.latest-news__btn {
  padding-bottom: 74px;
}
.button:first-of-type {
  width: 170px;
  height: 55px;
  background-color: #89ca62;
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding: 20px 20px;
  border-radius: 4px;
}
.button:last-of-type {
  width: 170px;
  height: 55px;
  background-color: #14b9d5;
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding: 20px 30px;
  border-radius: 4px;
  margin-left: 20px;
}
.wrapper {
  padding-bottom: 72px;
  padding-top: 50px;
  background-color: #f2f2f2;
}
.popular-post__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-blue {
  text-align: center;
  justify-content:center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #18b4cf;
  margin-bottom: 52px;
  margin-top: 51px;
  text-transform: uppercase;
}
.popular-list {
  display: flex;
  flex-flow: column wrap;
  max-height: 1000px;
  width: 1168px;
  margin: 0 auto;
}
.popular-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #fff;
}

.popular-photo {
  object-fit: cover;
  width: 100%;
}
.popular-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.popular-clients {
  width: 100%;
}
.popular-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-image: url("../images/second-bg.png");
}
.popular-clients {
  display: grid;
}
.title-white {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  
}
#popular-clients{
  margin-top: 117px;
  margin-bottom: 90px;
}
.hr {
  width: 60px;
  height: 4px;
  background-color: #18b4cf;
  margin: 0 auto;
  border: none;
}
.popular-clients__item {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 183px;
}
.popular-clients__img {
  margin-right: 58px;
}
.top-rated {
  width: 100%;
  overflow: hidden;
}

.top-rated__img {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 50px;
}
.container {
  max-width: 1168px;
  margin: 0 auto;
}
.hot-news__title {
  text-align: center;
  margin-bottom: 51px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #18b4cf;
  text-transform: uppercase;
}
.hot-news-top {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 32px;
}
.prophecy__item {
  display: flex;
  flex: start;
  background-color: #f9f7f7;
  width: 856px;
  text-align: right;
}
.prophecy__title {
  margin-top: 41px;
  margin-right: 24px;
  margin-bottom: 15px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}
.prophecy__text {
  padding-left: 15px;
  margin-right: 24px;
  margin-bottom: 41px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
}
.nebula {
  background-color: #f9f7f7;
}
.nebula__img {
  object-fit: cover;
  width: 100%;
}
.nebula__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  text-align: center;
  margin-top: 14px;
}

.hot-news-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.pyramid {
  background-color: #f9f7f7;
  margin-right: 60px;
  margin-bottom: 43px;
  text-align: right;
}
.pyramid__title {
  margin-top: 12px;
  margin-bottom: 15px;
  margin-right: 15px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}
.pyramid__text {
  margin-right: 15px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
}
.meadows {
  background-color: #f9f7f7;
  margin-right: 60px;
  margin-bottom: 43px;
  text-align: right;
}
.meadows__title {
  margin-top: 12px;
  margin-bottom: 15px;
  margin-right: 15px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}
.meadows__text {
  margin-right: 15px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
}
.wanderlust {
  background-color: #f9f7f7;
  margin-right: 60px;
  margin-bottom: 43px;
  text-align: right;
}
.wanderlust__title {
  margin-top: 12px;
  margin-bottom: 15px;
  margin-right: 15px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}
.wanderlust__text {
  margin-right: 15px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
}
.sanctuary {
  background-color: #f9f7f7;
  margin-right: 60px;
  margin-bottom: 43px;
  text-align: right;
}
.sanctuary__title {
  margin-top: 12px;
  margin-bottom: 15px;
  margin-right: 15px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}
.sanctuary__text {
  margin-right: 15px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
}
.hot-news-bottom {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 32px;
}
.prism {
  background-color: #f9f7f7;
  margin-right: 35px;
  height: 258px;
}
.prism__img {
  object-fit: cover;
  width: 100%;
}
.prism__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  text-align: center;
  margin-top: 14px;
}
.kings {
  display: flex;
  flex: start;
  background-color: #f9f7f7;
  text-align: right;
  margin-bottom: 71px;
}
.kings__title {
  margin-top: 41px;
  margin-right: 25px;
  margin-bottom: 15px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}
.kings__text {
  padding-left: 15px;
  margin-right: 24px;
  margin-bottom: 41px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
}
.footer-information {
  background-color: #000000;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
