html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
.container{
  background-image: url('/images/bg.png');
  width: 1366px;
  background-size:cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.header-information{
  margin: 0 auto;
  width: 1020px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-top: 46px;
  margin-bottom: 17px;
}
.logo {
  display: flex;
  align-items:center;
  justify-content: center;
}
.logo:hover {
  filter: invert(44%) sepia(52%) saturate(1923%) hue-rotate(348deg) brightness(98%) contrast(94%);
}
.logo__link{
  text-decoration: none;
  color: #fff;
  display: block;
}
.logo__wrapper{
  display: inline-block;
  padding-left: 5px;
}
.logo__link h1{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
}
.logo__link h2{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  }
.contacts{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.contacts__item{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
}
.contacts__item:first-of-type{
  margin-bottom: 19px;
}
.contacts__item:hover{
  filter: invert(44%) sepia(52%) saturate(1923%) hue-rotate(348deg) brightness(98%) contrast(94%);
}
.holidays__list{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 53px;
  grid-row-gap: 37px;
  width: 1030px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.holidays__text{
  text-align: center;
  padding-top: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
}
.holidays__img{
  object-fit: cover;
}
.holidays__item{
  position: relative;
  height: 260px;
  width: 310px;
  cursor: pointer;
}
.holidays__item:hover .price-block{
  opacity: 1;
  transition: bottom .4s;
}

.holidays__item:hover .holidays__text{
  color: #F26522;
}
.price-block-wrapper{
  position: absolute;
  bottom: 1px;
  left: 2px;
}
.price-block {
  opacity: 0;
  margin: 0;
  padding: 6px 10px 12px 16px;
  background:#F26522;
  width: 300px;
  color: #fff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
}
.content{
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.from{
  font-size: 10px;
  line-height: 10px;
}
.price{
  font-size: 20px;
  line-height: 20px;
}
.details{
  font-size: 14px;
  line-height: 14px;
}
.details::after{
  content: url('/images/more.svg');
  padding-left: 16px;
}
.footer{
  padding-bottom: 15px;
  text-align: center;
}
.footer-information{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
}
