html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
.header{
  background-image: url("../images/header-bg.png");
  background-repeat: no-repeat;
  width: 100%;
}

.header__inner {
  display: flex;
  width: 100%;
  background: rgba(94, 93, 88, 0.6);
}
.container{
  max-width: 1160px;
  align-items: center;
  margin: 0 auto;
}
.header-logo__link{
  margin-right: 135px;
}
.wrapper{
  display: flex;
  align-items: center;
}
.header-menu__list {
  display: flex;
  
}
.header-menu__list-item {
  margin-right: 22px;
}
.header-menu__search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-menu__list-link {
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  padding-bottom: 50px;
  cursor: pointer;
 
}
.header-menu__list-link:hover {
  color: #18CFAB;
  border-bottom: 2px solid #18CFAB;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.about-ham {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/images/latest-news__bg-img.jpg');
  width: 100%;
}
.about-ham__title{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 22px;
}
.about-ham__title.the-ham{
  margin-top: 266px;
  display: block;
  font-size: 35px;
  color: #fff;
  text-transform: uppercase;
}
.about-ham__title.the-ham span{
  color: #18CFAB;
} 
.about-ham__title.we-creative{
  font-size: 78px;
  color: #ffffff;
}
.about-ham__title.buy-enjoy {
  font-size: 34px;
  color: #D4D4D4;
  margin-bottom: 134px;
}
.about-ham__btn {
  padding-bottom: 243px;
  display: flex;
}
.about-ham__button-wrapper{
  background-color: #fff;
  width: 170px;
  height: 64px;
  position: relative;
  border-radius: 4px;
  margin-right: 26px;
  
}
.about-ham__button{
  width: 170px;
  height: 60px;
  border-radius: 4px;
  position: absolute;
  top: 6px;
}
.about-ham__button-link{
  text-decoration: none;
  color: #fff; 
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase; 
}

.about-ham__button.green{
  background-color: #18CFAB;
  border: 1px solid #18CFAB;
}
.about-ham__button.blue{
  background-color: #00CBF6;
  border: 1px solid #00CBF6;
}
.advanteges-blocks{
  display: flex;
  flex-wrap: nowrap;
  margin-top: 8px;
}
.advanteges-blocks__img{
  display: block;
  margin: 0 auto;
  padding-top: 104px;
}
.advanteges-blocks__text{
  margin-top: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: bold;
  padding-bottom: 110px;
}
.advanteges-blocks__item:nth-child(even){
  width: 482px;
  background-color: #18CFAB;
  color: #ffffff;
}
.advanteges-blocks__item:nth-child(odd){
  width: 482px;
  background-color: #1C2A33; 
  color: #18CFAB;
}

.container{
  max-width: 1168px;
}
.title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #4E4E4E;
  padding-top: 97px;
  padding-bottom: 24px;
  display: block;
  text-align: center;
}
.hr-top {
  width: 79px;
  height: 4px;
  background-color: #18CFAB;
  margin: 0 auto;
  margin-bottom: 4px;
  border: none;
  position: relative;
}
.hr-bottom{
  position: absolute;
  left: 49%;
  width: 79px;
  height: 4px;
  background-color: #18CFAB;
  margin: 0 auto;
  border: none;
}
.toggles{
  display: flex;
  align-items: center;
  margin-top: 69px;
  padding-bottom: 15px;
}

.tab-btn{
  padding: 30px 35px;
  text-align: center;
  border: 1px solid #EDEFEF;
  background-color: #F8FCFE;
  color: #363B3E;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  position: relative;
}
.tab-btn.active{
  background-color: #18CFAB;
  color: #fff;
 
}
.tab-btn.active:before{
  content: '';
  height: 15px;
  width: 15px;
  background-color:#18CFAB;
  position: absolute;
  bottom: -7px;
  left: 44%;
  transform: rotate(45deg);
}
.tab-btn:hover{
  border: 1.5px solid #18CFAB;
  cursor: pointer;
}
.tab-content{
  display: flex;
  margin-top: 10px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
.flex-container{
  display: flex;
  height: 136px;
  max-width: 1100px;
  margin-bottom: 89px;
}
.services__item:active{ background-color:  #18CFAB;}
.services__link{
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #717171;
  margin-right: 5px;
}
.services__text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  margin-left: 15px;
}
.purchase{
  background-image: url(../images/purchase-bg.jpg);
  width: 100%;
  background-repeat: no-repeat;
  padding-bottom: 128px;
}
.purchase__content{
  text-align: center;
}
.purchase__title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  color: #18CFAB;
  padding-top: 127px;
  margin-bottom: 12px;
}
.purchase__text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  color: #D8D8D8;
  padding-bottom: 62px;
}
.purchase__btn{
  margin: 0 auto;
  background-color: #fff;
  width: 170px;
  height: 64px;
  position: relative;
  border-radius: 4px;
}
.purchase__btn-wrapper{
    width: 170px;
    height: 60px;
    border-radius: 4px;
    position: absolute;
    top: 6px;
    background-color: #18CFAB;
    border:1px solid  #18CFAB;
}
.purchase__btn-link{
  text-decoration: none;
  color: #fff; 
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase; 
}
.amazing{
  text-align: center;
  background: #E9EDEF;
}
.amaizing-menu{
  margin-top: 70px;
  margin-bottom: 70px;
}
.amazing-menu__list{
  display: flex;
  align-items: center;
  justify-content: center;
}
.amazing-menu__item{
  padding: 23px;
  border: 1px solid #DADADA;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #717171;

}
.amazing-menu__item:hover{
  border: 2px solid #18CFAB;
  cursor: pointer;
}
.amazing-menu__item.active{
  border: 2px solid #18CFAB;
  background-color:#18CFAB;
  cursor: pointer;
}

.amazing-menu__item:first-of-type{
  padding-left: 28px;
  padding-right: 28px;
}

.amazing-work{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1168px;
  margin: 0 auto;
  background-size: cover;
  overflow: hidden;
}
.amazing__btn-wrapper{
  margin: 70px;
  padding-bottom: 100px;
}
#amazing__btn{
  background-color: #18CFAB;
  padding: 21px;
  border-radius: 3px;
  border: 1px solid  #18CFAB;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}
#amazing__btn:hover{
  cursor: pointer;
}
.amazing__btn-cross{
  margin-right: 15px;
}
.hide{
  display: none;
  animation-duration: 1s;
}


.foo {
  width: 285px;
  height: 206px;
  overflow: hidden;
  position: relative;
}
.bar {
  position: absolute;
  width: 100%;
  top: 0;
  transition: top .3s;
}
.foo:hover .bar {
 top: -206px;
}
.img-wrapper{
  height: 206px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.amazing-work__preview{
  height: 206px;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  border-top: 6px solid #18CFAB;
}
.amazing-work__preview-icon{
  padding-top: 46px;
}
.amazing-work__preview-title{
  padding-top: 24px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: #18CFAB;
}
.amazing-work__preview-text{
  padding-top: 15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 12.1518px;
  color: #8A8A8A;
}
.breaking-news{
  padding-bottom: 130px;
}
.breaking-news__list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 33px;
  max-width: 1168px;
  margin: 0 auto;
  padding-top: 68px;
}
.breaking-news__item{
  position: relative;
  background: #F8FCFE;
  padding-bottom: 10px;
}
.breaking-news__img{ width: 100%;}
.data-block{
  position: absolute;
  background-color: #203E38;
  padding: 15px;
  bottom: 219px;
  left: 201px;
  text-align: center;
}

.breaking-news__title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 39px;
  color: #717171;
  padding-left: 15px;
}
.breaking-news__content-item{ list-style: none;}
.breaking-news__item:hover .data-block{
  background-color: #18CFAB;
}
.breaking-news__item:hover .breaking-news__title{
  color: #18CFAB;
}
.breaking-news__content-item:first-of-type{
  border-right: 1px solid #777777;
}
.breaking-news__content{ display: flex;}

.breaking-news__content-link{
  text-decoration: none;
  color: #777777;
  padding-right: 15px;
  padding-left: 15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}
.people-say{ 
  background-image: url(../images/slider-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 100px;
}

.people-say__title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 100px;
  padding-bottom: 20px;
}
.people-say__list{
  text-align: center;
}
.people-say__quotes{
  padding-top: 66px;
  padding-bottom: 40px;
}
.people-say__text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #BBBBBB;
  line-height: 30px;
}
.people-say__fio{
  padding-top: 37px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #18CFAB;
}
.people-say__position{
  padding-bottom: 37px;
  padding-top: 15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  color: #BBBBBB;
}
.slider-wrapper{
  text-align: center;
  position: relative;
  width: 420px;
  margin: 0 auto;
}
.slides{
  width: 100%;
  height: 100%;
  transform: scale(2);
}
.slides-item{
  width: 79px;
  height: 71px;
  z-index: 1;
  margin: auto;
  padding-bottom: -16px;
  margin-top: 86px;
}
#button-left, #button-right{
  background: transparent;
  padding: 10px 15px;
  border: 1px solid #BBBBBB;
  position: absolute;
  top: 85%;
  transform: translateY(-50%);
}
#button-left{
  left: 0;
}
#button-right{
  right: 0;
}
#button-left:hover, #button-right:hover{
  background: #18CFAB;
  border: unset;
}
.dots-block{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.dots-item{
  display: inline-block;
  margin-right: 7px;
  cursor: pointer;
}
.dots-item:last-child{
  margin: 0;
}
.dots-item.active{
  transform: translateY(-15%);
}
.footer{
  background-color: #22353F;
  text-align: center;
  width: 100%;
  padding: 48px;
  text-align: center;
}
.footer-text {
  display: block;
  margin: 0 auto;
  max-width: 1168px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #AEAEAE;
}
.footer-text span{
  color: #18CFAB;
}

.slides-item{
  display: none;
}
.slides-item.active{
  display: block;
}