
html{
box-sizing:border-box;
}

*,
*::after,
*::before{
    box-sizing:inherit;
}
 a{
     text-decoration: none;
 }

 .container{
    width: 100%;
    padding: 0px 10px;
    margin: 0px auto;
 }

 body{
     color: #373737;
     font-size: 16px;
     line-height: 26px;
     font-family: 'Montserrat', sans-serif;
 }

 .header-inner{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 78px;
     padding: 0px 10px;
 }

 .menu__list{
     display: flex;
 }

 .menu__item{
     margin: 0px 36px;
 }

 .menu__list-link{
     text-transform: uppercase;
     color: #FF0000;
     font-weight: bold;
 }

 .first-bg{
     width: calc( 100% + 20px);
 }
.first-bg__img{
    width: 100%;
}


.main-content h2{
margin-top: 48px;
margin-bottom: 38px;
text-align: center;
font-size: 22px;
text-transform: uppercase;
}
.main-content__first-p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin-right: 68px;
    margin-left: 68px;
    margin-bottom: 28px;
    text-align: center;
}
.main-content__second-p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin-right: 68px;
    margin-left: 68px;
    margin-bottom: 66px;
    text-align: center;


}
.main-wrapper{
display: flex;
align-items: center;
justify-content: center;
}
.main-btn{   
width: 191px;
height: 51px;
background-color: #FF0000;
border-radius: 4px;
text-transform: uppercase;
color: #ffffff;
padding: 16px 43px;

}
.button{
        padding: 18px 43px;
        background-color: #FF0000;
        font-family: 'Montserrat';
        font-weight: 700px;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        border-radius: 4px;
        
}

.button-wraper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.footer-information p{
    margin-top: 40px;
    float: right;
    margin-right: 105px;
    margin-bottom: 29px;
    font-weight: bold;
}

