html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
body{
  text-decoration: none;
  color: #fff;
}
.container{
  width: 100%;
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 74px;
}
header{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
}
header a{
  text-decoration: none;
  color:#fff;
}
.header-inner{
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  padding-left: 80px;
  padding-top: 18px;
  padding-bottom: 18px;
  cursor: pointer;
}
.logo__link{
font-size: 22px;
line-height: 22px;
font-weight: bold;
}
.logo__link:hover{
  color: #3CB878;
}
.header-menu{
  display: flex;
  justify-content: space-between;
  margin-right: 79px;
}
.header-menu__list{
  display: flex;
  padding-right: 20px;
  align-items: center;
}
.header-menu__list-item{
  align-items: center;
}
.icons{
  padding-right: 27px;
}
.icons:hover{
  filter: invert(30%) sepia(98%) saturate(727%) hue-rotate(100deg) brightness(94%) contrast(99%);
}
.header-menu__list-link__text{
  padding-left: 3px;
}
.log:hover{
  color: #3CB878;
}
.sighn:hover{
  color: #3CB878;
}
.log::before{
  content: " ";
  background: #fff;
  opacity: 0.5;
  width: 1px;
  height: 19px;
  float: left;
  margin-right: 27px;
}
.sighn-up{
  margin: 0 auto;
  margin-top: 54px;
  margin-bottom: 74px;
  max-width: 444px;
  background-color: #fff;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
}

.sighn-up__title{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 324px;
  position: relative;
}

.title{
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  margin-top: 33px;
  margin-bottom: 13px;
}
.title::before{
  content: " ";
  background: #3CB878;
  width: 18px;
  height: 18px;
  position: absolute;
  left: -18%;
}

.link{
  color: #3CB878;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin-top: 33px;
  margin-bottom: 13px;
  text-decoration: none;
}
.link:hover{
  color: #01813F;
  text-decoration:underline;
}
.btn{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 324px;
}
.btn a{
  padding-left: 11px;
  padding-right: 22px;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  color: #fff;
  border-radius: 4px;
  width: 160px;
  display: flex;
  align-items: center;
}
.facebook__btn{
  background-color: #305DB8;
  margin-right: 4px;
}
.google__btn{
  background-color: #DF4A32;
}
.facebook__btn:hover{
  background-color: #022263;
}
.google__btn:hover{
  background-color: #AB1F09;
}
.rectangle{
  padding: 10px 18px 10px 13px;
}
.or{
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 31px;
  padding-bottom: 11px;
}

.or p {
  font-size: 14px;
  line-height: 14px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  color: #848484;
  margin-left: 3px;
  margin-right: 3px;
}
.form{
  text-align: center;
}
.form label{
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
}
.form label .green{
  color: #3CB878;
}
.form label .green:hover{
  border-bottom: 1px solid #01813F;
  color: #01813F;
}
.input{
  width: 324px;
  height: 46px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 14px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  border-radius: 4px;
  border: 1px solid #F2F2F2;
  padding-left: 20px;
}
.input:focus{
  outline: transparent;
  outline-offset: 0;
}
.check-box{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 20px;
}
.check-box__link{
  text-decoration: none;
  color: #fff;
}
.check-style{
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px solid #F2F2F2;
  margin-left: -20px;
}
.check-box:checked + .check-style::before{
  content: url('../images/check.svg');
  position: absolute;
  left: -2%;
  bottom: 30%;
  width: 14px;
  height: 14px;

}
.input:focus{
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.dws-submit{
  padding: 16px 100px;
  margin: 20px 60px 38px 60px;
  background: rgba(60, 184, 120, 0.8);
  border: 1px solid rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  line-height: 16px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  color: #fff;
}
.dws-submit:hover{
  transition: all 0.5s;
  background: #01813F;
}
