html {
  box-sizing: border-box;
}


.container { 
  width: 1280px;
  padding: 0px 10px;
  margin: 0px auto;
}
.header-logo__link{
  text-decoration: none;
    font-size: 80px;
    color: #000;
    margin-top: 61px;
    margin-bottom: 40px;
}
  .header-logo__link-color {
    color: aqua;
}
.header-menu{
  display: flex;
  justify-content: center;
  background-color: #35444F;
  height: 72px;
  width: 1280px;
  margin-top: 38px;
}

.header-menu__list{
  display: flex;
  align-items: center;
}
.header-menu__list-item{
  height: 72px;
  overflow: hidden;
}
.header-menu__list-link {
  display: block;
  height: 72px; 
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 400;
  color: #fff;
  font-size: 24px;
  border-left: 1px solid #FFFFFF;
  padding-top: 26px;
  padding-left: 40px;
  padding-right: 40px;
}
.header-menu__list-link:hover{
  background-color: #222F3A;
}
.main{
  display: flex;
  justify-content:space-between;
}
.main-sidebar{
  display: flex;
  width: 344px;
  height: 399px;
  border: 1px solid #495863;
  margin-top: 40px;
  padding-top: 26px;
}
.main-sidebar:hover{
  border: 1px solid #495863;
}
.main-sidebar__list{
list-style: none;
}
.main-sidebar__item{
  box-sizing:border-box;
}
.main-sidebar__item:first-of-type{
margin-top: -25px;
}
.main-sidebar__link{
display: block; 
box-sizing: border-box;
color: #485863;
font-family: 'Roboto';
font-weight: normal;
height: 84px;
width: 342px;
font-size: 27px;
line-height: 27px;
padding: 27px 78px 27px 38px;
text-decoration: none;

}
.main-sidebar__link:hover{
  background-color: #DBDBDB;
  color: #000;
  padding-left: 60px;
}
.wrapper{
  display: flex; 
  flex-wrap: wrap;
}
.main-content-top{
  margin-top: 40px;
  margin-left: 52px;
  border: 1px solid #495863;
  height: 529px;
  width: 100%;
}
.main-content__img{
  display: block;
  margin: 75px 270px 75px 270px;
}
.main-content__text{ 
  display: flex; 
  flex-wrap: wrap;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #2C2C2C;
  margin-left: 52px;
  margin-top: 37px;
}
 .footer-information{
  display: flex;
  justify-content: space-around;
  background-color: rgba(99, 105, 110, 0.48);
  height: 72px;
  width: 1280px;
  margin-top: 54px;
  margin-bottom: 30px;
 }
 .footer-information__list{
  display: flex;
  align-items: center;
  list-style: none;
 }
 .footer-content__item{
  display: block;
  height: 70px;
  overflow: hidden;
  justify-content: center;
 }
 .footer-content__link{
  display: block;
  height: 32px; 
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 400;
  color: #0C1927;
  font-size: 28px;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  white-space: nowrap;
  /* border-bottom: 1px solid #3181A6; */
 }

.footer-content__link:hover{
  border-bottom: 1px solid #3181A6;
  color: #3181A6;
}
.footer-content__copyright-info{
display: flex;
align-items: center;
justify-content: center;
font-family: 'Roboto';
font-size: 24px;
font-weight: normal;
}




